/* Main Style File */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 980px;
    margin-top: 25px;
}
.main-login {
	width: 250px;
	margin: 0 auto;
}
p.navbar-text {
    margin-right: 15px;
}
#author-note {
    resize: none;
}