<div class="col-sm-9">
    <?php
    if(isset($data['message'])) {
        foreach ($data['message'] as $key => $value) {
            if($key === 'added') {
                echo '<div class="alert alert-success" role="alert">'.$value.'</div>';
            } elseif($key === 'edited') {
                echo '<div class="alert alert-warning" role="alert">'.$value.'</div>';
            }
        }
    }
    ?>
    <h3>Author</h3>
    <form action="" method="post" autocomplete="off" class="form-horizontal">
    <?php if(isset($data['input']) && !empty($data['input'])) {
        echo '<input type="hidden" name="id" value="'.$data['input']['id'].'">';
        } ?>
        <div class="form-group">
            <label for="author" class="cols-sm-2">Author</label>
            <?php if (isset($data['message']['author'])) {
                foreach ($data['message']['author'] as $value) {
                    echo '<span style="color: red;">* ' . $value . '</span>';
                }
            } ?>
            <div class="cols-sm-10">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                    <input type="text" name="author" class="form-control" id="author" placeholder="Input author name"
                    <?php if(isset($data['input']) && !empty($data['input'])) {
                        echo 'value="'.$data['input']['name'].'"';
                        } ?>
                    />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="note" class="cols-sm-2">Author Note</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-sticky-note" aria-hidden="true"></i></div>
                    <textarea class="form-control" rows="5" id="author-note" name="author-note" placeholder="Set note for author"
                    ><?php if(isset($data['input']) && !empty($data['input'])) {
                        echo $data['input']['note'];
                        } ?></textarea>
                </div>
            </div>
        </div>
        <div class="form-group ">
            <button type="submit" class="btn btn-primary">
            <?php if(isset($data['input']) && !empty($data['input'])) {
                echo 'Edit';
                } else {
                    echo 'Add';
                }
            ?>
            </button>
        </div>
    </form>
</div>