<?php // echo '<pre>'.print_r($data, true).'</pre>'; exit;?>
<div class="col-sm-9">
    <?php if(isset($data['message'])) {
        echo '<div class="alert alert-danger" role="alert">'.$data['message'].'</div>';
    } ?>
    <h3>Authors <a href="/skadit/catalogue/authors/add" class="btn btn-sm btn-success">Add</a></h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Author</th>
                <th width="420">Note</th>
                <th>Book Count</th>
                <th colspan="2">Options</th>
            </tr>
        </thead>
        <tbody>
        <?php
        foreach($data['table'] as $value) {
            echo "<tr>
                <td>{$value['id']}</td>
                <td>{$value['name']}</td>
                <td>{$value['note']}</td>
                <td>{$value['book_count']}</td>
                <td><a class=\"btn btn-warning\" href=\"/skadit/catalogue/authors/edit/{$value['id']}\">Edit</a></td>
                <td><a class=\"btn btn-danger\" href=\"/skadit/catalogue/authors/delete/{$value['id']}\">Delete</a></td>
            </tr>";
        }
        ?>
        </tbody>
    </table>
</div>