
<div class="col-sm-9">
    <?php if(isset($data['message'])) {
        echo '<div class="alert alert-danger" role="alert">'.$data['message'].'</div>';
    } ?>
    <div class="row">
        <div class="col-sm-6">
            <h3>Books <a href="/skadit/catalogue/books/add" class="btn btn-sm btn-success">Add</a></h3>
        </div>
        <div class="col-sm-6">
        <form action="" method="post">
            <div class="input-group" style="margin-top: 20px; margin-bottom: 10px;">
                <input type="text" name="search" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">Go</button>
                </span>
            </div>
        </form>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th width="360">Note</th>
                <th>Cover</th>
                <th colspan="2">Options</th>
            </tr>
        </thead>
        <tbody>
        <?php
        foreach ($data['table'] as $value) {
            echo "<tr>
                <td>{$value['id']}</td>
                <td>{$value['name']}</td>
                <td>{$value['author']}</td>
                <td>{$value['year']}</td>
                <td>{$value['note']}</td>
                <td>{$value['cover_url']}</td>
                <td><a class=\"btn btn-warning\" href=\"/skadit/catalogue/books/edit/{$value['id']}\">Edit</a></td>
                <td><a class=\"btn btn-danger\" href=\"/skadit/catalogue/books/delete/{$value['id']}\">Delete</a></td>
            </tr>";
        }
        ?>
        </tbody>
    </table>
</div>