<div class="col-sm-9">
    <?php
    if(isset($data['message'])) {
        foreach ($data['message'] as $key => $value) {
            if($key === 'added') {
                echo '<div class="alert alert-success" role="alert">'.$value.'</div>';
            } elseif($key === 'edited') {
                echo '<div class="alert alert-warning" role="alert">'.$value.'</div>';
            }
        }
    }
    ?>
    <h3>Book</h3>
    <form action="" method="post" autocomplete="off" class="form-horizontal">
    <?php if(isset($data['input']) && !empty($data['input'])) {
        echo '<input type="hidden" name="id" value="'.$data['input']['id'].'">';
        } ?>
        <div class="form-group">
            <label for="title" class="cols-sm-2">Title</label>
            <?php if (isset($data['message']['title'])) {
                foreach ($data['message']['title'] as $value) {
                    echo '<span style="color: red;">* ' . $value . '</span>';
                }
            } ?>
            <div class="cols-sm-10">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-tag" aria-hidden="true"></i></div>
                    <input type="text" name="title" class="form-control" id="title" placeholder="Set book title"
                    <?php if(isset($data['input']) && !empty($data['input'])) {
                        echo 'value="'.$data['input']['name'].'"';
                        } ?>
                    />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="author" class="cols-sm-2">Author</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-users"></i></div>
                    <select name="author_id" id="authors" class="form-control">
                    <?php foreach($data['author_select'] as $value) {
                        if(isset($data['input']) && !empty($data['input'])) {
                            if($value['id'] === $data['input']['author_id']) {
                                $selected = 'selected';
                            } else {
                                $selected = '';
                            }
                        }
                        echo '<option value="'.$value['id'].'" '.$selected.'>'.$value['name'].'</option>';
                        }
                    ?>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="year" class="cols-sm-2">Year</label>
            <?php if (isset($data['message']['year'])) {
                foreach ($data['message']['year'] as $value) {
                    echo '<span style="color: red;">* ' . $value . '</span>';
                }
            } ?>
            <div class="cols-sm-10">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    <input type="number" name="year" class="form-control" min="1950" max="2200" placeholder="Range: 1950-2200"
                    <?php if(isset($data['input']) && !empty($data['input'])) {
                        echo 'value="'.$data['input']['year'].'"';
                        } ?>
                    />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="cover_url" class="cols-sm-2">Cover Link</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-link"></i></div>
                    <input type="text" name="cover_url" class="form-control" placeholder="Set cover URL"
                    <?php if(isset($data['input']) && !empty($data['input'])) {
                        echo 'value="'.$data['input']['cover_url'].'"';
                        } ?>
                    />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="note" class="cols-sm-2">Book Note</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-sticky-note" aria-hidden="true"></i></div>
                    <textarea class="form-control" rows="5" id="book-note" name="book_note" placeholder="Set note for book"
                    ><?php if(isset($data['input']) && !empty($data['input'])) {
                        echo $data['input']['note'];
                        } ?></textarea>
                </div>
            </div>
        </div>
        <div class="form-group ">
            <button type="submit" class="btn btn-primary">
            <?php if(isset($data['input']) && !empty($data['input'])) {
                echo 'Edit';
                } else {
                    echo 'Add';
                }
            ?>
            </button>
        </div>
    </form>
</div>