
<div class="container login">
    <div class="row main">
        <div class="panel-heading">
           <div class="panel-title text-center">
                <h3 class="title">Login Form</h3>
                <hr />
            </div>
        </div>
        <?php
        if(isset($msg)) {
            echo '<div class="alert alert-danger" role="alert">'.$msg.'</div>';
        }
        ?>
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" action="">
                <div class="form-group">
                    <label for="user" class="cols-sm-2 control-label">Your User
                    <?php if(isset($email)) {
                        foreach ($email as $value) {
                            echo '<span style="color: red"> * '.$value.'</span>';
                        }
                    }
                    ?></label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="user" id="user"  placeholder="Enter your username"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password
                    <?php if(isset($password)) {
                        foreach ($password as $value) {
                            echo '<span style="color: red"> * '.$value.'</span>';
                        }
                    }
                    ?></label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>